/*style-banner.css*/

.banner {
  height: 100vh;
  width: 100%;
  /* position: relative; */
}

.banner {
  padding: 0 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  background: linear-gradient(-45deg, #d8e7fc, #e8d8fc);
  border-radius: 2rem;
  padding: 6rem 10rem;
  border:10px solid yellow;
}

.banner__after {
  width: 100%;
  height: 100%;


  background-color: transparent;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(1.25rem);
  transition: 0.5s;

  border:10px solid red;
}
