.form__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.17);
  /* margin-top: 1em; */
}

.signupForm {
  position: absolute;
  top: 7%;
  left: 50%;
  scale: 0;
  transform: translate(-50%, -0%);
  backdrop-filter: 15px;
  align-self: center;
  background-color: rgba(26, 36, 72, 0.2);
  box-shadow: 0 0 0 25 rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(14, 5, 5, 0.2);

  --formMw: 30rem;
  --formW: 80%;
  max-width: var(--formMw);
  width: var(--formW);
  max-height: 32rem;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  z-index: 2500;
  transition: 0.5s;
  margin-top: 3rem;
}

.signupForm::after {
  height: 100%;
  width: 100%;
  background-color: transparent;
  content: '';
  position: relative;
}

.signupForm a.closeForm .closeIcon {
  color: white;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.signupForm a.closeForm .closeIcon:hover {
  transform: rotate(-365deg);
  color: tomato;
  color: cyan;
  transition: 0.5s;
}

.signupForm a.closeForm .closeIcon:active {
  color: var(--primary--color);
  color: var(--secondary--color, cyan);
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.signupForm:active,
.signupForm.active {
  scale: 1;
  transition: 0.5s;
}

.signupForm__title {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 0rem;
}

.signupForm input {
  width: 100%;
  padding: 0.5rem 0.625rem;
  font-size: 0.8rem;
  font-weight: 300;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: transparent;
}

.signupForm input::placeholder {
  color: white;
}

.form__btn {
  max-width: calc(var(--formMw));
  width: calc(var(--formW));

  padding: 0.5rem;
  transform: 0.3s;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  text-transform: uppercase;
  font-size: 0.8rem;

  margin-bottom: 0rem;
}

.form__btn:hover {
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
}
.form__btn:active {
  scale: 0.9;
}

.signupform__account {
  font-size: 1rem;
  color: white;
  width: auto;
  text-align: center;
  margin-top: 0.25rem;
}

.signupform__account > span > a {
  color: var(--primary--color);
  color: darkorange;
  font-weight: bold;
  letter-spacing: 1px;
}
