/*style-app.css*/

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
:root {
  font-family: 'Berkshire Swash', serif;
  --font: 'Berkshire Swash';
  --zindex: 5;
  --top--sliderContainer: 2%;
}
.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100vlh;
}

/*style-banner.css*/

.banner {
  height: 100vh;
  width: 100%;
  padding: 3rem 5rem;
  /* padding: 6rem 10rem; */
  height: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: linear-gradient(-45deg, #d8e7fc, #e8d8fc);
  border-radius: 2rem;

  /* overflow: hidden; */
  /* border: 10px solid yellow; */
}

.banner__layout {
  width: 100%;
  height: 100%;
  /* height: 100lvh; */

  background-color: transparent;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(1.25rem);
  transition: 0.5s;
  justify-content: start;
  align-items: center;

  position: relative;
  padding: 0;
  margin: 0;
  

  /* border: 10px solid yellow; */
}

/*style-header.css*/

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  z-index: 200 !important;
  background: transparent;

  /* border:10px solid green; */
}

/*style-navigation.css*/
.banner__container__navigation {
  --top: 3.6rem;
  position: absolute;
  top: var(--top);
  height: calc(100% - var(--top));

  /* background-color: rgba(0, 0, 0, 0.26); */
  background-color: transparent;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;

  /* visibility: hidden; */
  width: 0%;
  max-width: var(--maxW--menu);
  transition: 0.5s;
}

.banner__container__navigation.active {
  visibility: visible;
  width: 33%;
  transition: 0.5s;
  background-color: rgba(214, 210, 251, 0.7);
}

.banner__navigation {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.25rem;
  opacity: 0;
  visibility: hidden;
  width: 0%;
  max-width: var(--maxW--menu);

  /* border: 10px solid rgb(255, 116, 47); */
}

.banner__navigation.active {
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
  width: 100%;
}

.banner__navigation li a {
  text-decoration: none;
  color: var(--primary--color);
  text-transform: uppercase;
}

.banner__navigation.videoOpen li a {
  color: white;
  color: var(--primary--color);
}

.banner__navigation li a:hover {
  color: #8d20fa;
  font-weight: bold;

  text-shadow: -1px 1px 0px white, -1.05px 1.05px 0px blue;
}

/*****style-content.css****/
.banner__layout__content {
  height: calc(100% - 3.6rem);
  display: flex;
  justify-content: center;
  align-items: center;

   /* border: 10px solid red; */
}

/***style-slider.css*******/

.slider__container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  opacity: 1;
  visibility: visible;
  z-index: var(--zindex);
  width: 50%;

  /* border: 10px solid blue; */
}

.slider__container.videoOpen {
  display: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider__container {
  display: block;
  transition: 0.5s;
  opacity: 0.9;
}

.swiper {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;

  /* position: absolute;
  top: 0;
  left: 0%; */
}

.swiper:active {
  opacity: 0;
  visibility: hidden;
}

.image-slide {
  height: 100%;
  width: 100%;
  visibility: visible;
  text-align: center;
  transition: ease-in-out 0.5s;
  margin-left: 10%;
  transform-origin: bottom;
  backdrop-filter: blur(19px);

  /* border: 10px solid red; */
}

.image-slide > img {
  width: auto;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  background-color: transparent;
}

[class^='swiper-button'] {
  --btn--sep: 30%;
  transform: rotateZ(90deg);
  color: rgb(0, 0, 0, 0.5);
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: calc(100% - 5rem);
  border-radius: 0.5rem;
  z-index: 2500;
}

[class^='swiper-button']:hover {
  color: var(--primary--color);
  border: 2px solid var(--primary--color);
}

.swiper-button-prev {
  top: calc(50% - var(--btn--sep) / 2);
  /* top: calc(50% + var(--btn--sep) / 2); */
}

.swiper-button-next {
  top: calc(50% + var(--btn--sep) / 2);

  /* top: calc(50% - var(--btn--sep) / 2); */
}

.swiper-pagination-bullets {
  display: none;
}

/****style-contentText.css*****/
.banner__layout__content-text {
  height: 100%;
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
padding: 0.5rem 0;

}

.banner__content--text {
  --textH: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  padding: 1rem;
  height: var(--textH);

  visibility: visible;
  opacity: 1;
  transition: 0.5s;

  z-index: calc(var(--zindex) + 100);
  /* border: 10px solid green; */
}

.banner__content--text.videoOpen {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  height: 0;
  /* border:10px solid; */
}
/*---------------------*/
.content--text--title {
  color: var(--primary--color);
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  transition: 0.7s ease;
  /* font-size: 3rem; */
  font-size: clamp(1.4rem, -0.6rem + 4.7vw, 3rem);
}

.content--text--par {
  text-align: right;
  color: var(--primary--color);
  font-weight: 300;
  /* line-height: 2.5rem; */
  /* font-size: 1.5rem; */
  line-height: clamp(1.3rem, -0.17rem + 3.6vw, 2.5rem);
  font-size: clamp(1rem, 0.4rem + 1.5vw, 1.5rem);
  /* border: 10px solid green; */
}

.content--text--btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--primary--color);
  border: 1px solid var(--primary--color);
  padding: 0.5rem 1rem;
  transition: 0.3s;

  margin-bottom: 0.5rem;
}

.content--text--btn:hover {
  color: var(--primary--color);
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

/********style-frameNavigation***/
.banner__content--frame-video {
  display: flex;
  z-index: calc(var(--zindex) + 100);
  backdrop-filter: blur(15px);
  max-height: calc(100% - var(--textH));
  justify-content: end;
  /* width: 100%; */

  /* border: 10px solid purple; */
}
/*-----------------*/
.frame__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  /* text-align: center; */

  height: 100%;
  min-width: 50%;
  max-width: 40rem;
  width: 30rem;
  background-color: rgba(26, 36, 72, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(15px);

  /* border: 10px solid red; */
}

/* .frame__container {
visibility:hidden;
} */

.frame__services {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  height: 100%;
  padding: 0.5rem;

  align-items: start;
  /* justify-content: center; */
  text-align: center;
  z-index: 1500;
  text-overflow: ellipsis;

  /* overflow: hidden; */

  /* border: 10px solid blue; */
}

.frame__services:hover::before {
  content: '';
  background-color: rgba(26, 36, 72, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.frame__services--title {
  text-transform: uppercase;
  font-size: clamp(0.7rem, 0.44rem + 0.74vw, 1rem);
  letter-spacing: 1px;
  /* font-family: var(--font); */
  /* font-weight: bold; */
}
.frame__services--par {
  width: min-content;
  font-size: clamp(0.5rem, -0.11rem + 1.5vw, 1rem);
  text-overflow: ellipsis;
  text-transform: capitalize;
  text-wrap: pretty;
}

/***style-frame-video*/
.videoclip__container {
  --minH: 12rem;
  /* min-height: var(--minH); */
  display: flex;
  min-width: 50%;
  align-items: center;
  background-color: var(--primary--color);
  padding: 0;

  /* border: 10px solid; */
}

.videoclip {
  object-fit: cover;
  width: 85%;
  height: 100%;

  /* max-height: var(--maxH); */
  /* height: calc(100% - var(--textH)); */
  /* position: absolute;
  top: 0;
  left: 50%; */
  /* border: 10px solid orange; */
}

.videoclip__playBtn {
  height: 100%;
  background-color: var(--primary--color);
  display: flex;
  margin: auto;
  align-items: center;
}

.videoclip__playBtn .play_icon {
  --iconSize: 2rem;

  height: var(--iconSize);
  width: var(--iconSize);
  color: white;
  cursor: pointer;
}

.videoclip__playBtn .play_icon {
  color: white;
  cursor: pointer;
}

.videoclip__playBtn .play_icon.close {
  display: none;
}

.videoclip__playBtn.videoOpen .play_icon.close {
  display: block;
}
.videoclip__playBtn.videoOpen .play_icon.open {
  display: none;
}

/***style-watermarks***/
.watermark {
  text-transform: uppercase;
  line-height: 11rem;
  letter-spacing: 0.125rem;
  color: var(--primary--color);
  opacity: 0.15;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  font-family: var(--font);
}

.watermark.left {
  left: clamp(-12.5rem, -15.5112rem + 12.7796vw, -10rem);
  font-size: 7rem;
}

.watermark.right {
  font-size: 3rem;
  top: 48%;
  right: 10%;
  transform: translateY(-5%) rotate(0deg);
}

/*****style-background Video*/
.bg__videoHero {
  visibility: hidden;
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.bg__videoHero.active {
  visibility: visible;
  opacity: 1;
}

/**style-social-media container**/

.socialMedia__container {
  display: flex;
  padding: 0.5rem;
  width: 10rem;
  justify-content: center;
  z-index: 3000;
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(3px);
  /* border: 1px solid #c4302b; */
}

[class*='icon'] > svg {
  font-size: 2rem;
  color: var(--primary--color);
}

/****Responsive*****/
@media screen and (max-width: 1222px) {
  .banner {
    padding: 0 1.5rem;
    /* border: 10px solid red; */
  }

  .frame__container {
    padding: 0.5rem;
  }

  .frame__services {
    /* flex-direction: row; */
    align-items: center;
    gap: 0.25rem;
  }

  .frame__services--title {
    line-height: 0.5rem;
    font-size: 0.7rem;
    /* writing-mode: vertical-rl; */
    /* transform: rotate(180deg); */
  }

  .image-slide,
  .slider__container {
    margin: 0;
    margin-bottom: 0.5rem;
    left: 0%;
    width: 100%;
    overflow: hidden;
    transition: ease-in-out 0.5s;

    /* border: 1px solid red; */
  }

  .watermark.right {
    top: 60%;
    font-size: 3rem;
    line-height: 3rem;
  }

  [class^='swiper-button'] {
    left: 55%;
    top: 4%;
  }

  .swiper-button-prev {
    left: calc(55% - var(--btn--sep) / 2);
  }
  .swiper-button-next {
    left: calc(65% + var(--btn--sep) / 2);
  }
  /*****************/
  .banner {
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* border:10px solid; */
  }

  .videoclip {
    width: 85%;
    /* --maxH: 11rem; */
    /* border:10px solid red; */
    /* max-height: var(--maxH); */
  }

  .videoclip__playBtn .play_icon {
    width: var(--maxH, 2rem);
    height: var(--maxH, 2rem);
  }
}

/**********************/
@media screen and (max-width: 880px) {
  /*******header*********/
  .banner__layout header {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .header__navbar {
    background-color: var(--primary--color);

    width: 100%;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 10px solid yellow; */
  }

  .logo__container,
  .search__container {
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  .header__navbar .logo__container {
    width: 30%;
    max-width: 30%;
    gap: 0.25rem;
    justify-content: start;
    align-items: center;
  }

  .header__navbar .search__container {
    justify-content: space-between;
    min-width: auto;
    padding: 0 0.25rem;
  }

  .logo__container a .icon {
    height: auto;
  }

  .SearchIcon {
    margin-right: 0.5rem;
  }

  /*style-navigation-menu*/
  .banner__container__navigation.active {
    visibility: visible;
    width: 82%;
    max-width: 82%;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;

    background-color: rgba(210, 214, 251, 0.8);
    backdrop-filter: blur(7px);
  }

  /*****banner layout content****/
  .banner__layout__content {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    /* height: 100%; */
    /* border: 10px solid blue; */
  }

  .slider__container {
    width: 100%;
    height: 100%;
    opacity: 1;
    left: 0%;

    top: var(--top--sliderContainer);
    display: flex;


    /* border: 3px solid purple; */
  }

  .swiper-slide {
    scale: 1;
  }

  .image-slide {
    margin: auto;
    transition: ease-in-out 0.5s;
  }

  [class^='swiper-button'] {
    height: 1rem;
    width: 1rem;

    left: calc(100% - 3rem);
  }

  [class^='swiper-button']:hover {
    border: none;
  }

  .swiper-button-prev {
    top: calc(50% - var(--btn--sep) / 2);
  }

  .swiper-button-next {
    top: calc(50% + var(--btn--sep) / 2);
  }

  .watermark.left {
    left: clamp(-12.5rem, -15.5112rem + 12.7796vw, -10rem);
  }

  .watermark.right {
    top: 50%;

    left: calc(clamp(7.5rem, -13rem + 94.8vw, 32.5rem) + 2rem);
  }

  .banner__layout__content-text {
    width: 90%;
    height: 50%;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding-bottom: 1rem;
    padding:1rem 0;

    /* border: 10px solid brown; */
  }
  .banner__content--text {
    align-items: center;
    gap: 0.25rem;
    padding: 0 0.5rem;

    text-align: center;
    min-height: 50%;
    height: 50%;
    /* border: 10px solid yellow; */
  }

  .banner__content--text p {
    text-align: center;
  }
  .banner__content--text .btn {
    text-align: center;
    margin-bottom:1rem; /*check*/
  }

  .banner__content--frame-video {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: transparent;
    /* border: 10px solid ; */
  }

  .frame__container {
    display: none;
  }

  .banner__content--text.videoOpen {
    display: none;
  }

  .videoclip {
    --maxH: 8rem;
    /* border:10px solid pink; */
    width: 85%;
    max-height: var(--maxH);
  }

  .videoclip__playBtn {
    height: 100%;
    max-height: var(--maxH);
    /* border:10px solid red; */
  }

  .videoclip__playBtn .play_icon {
    --wbtn: clamp(2rem, 1.2345rem + 3.6782vw, 3rem);

    width: var(--wbtn);
    height: var(--wbtn);
  }

  .socialMedia__container ul {
    flex-direction: column;
    scale: 1;
  }
  .socialMedia__container {
    flex-direction: column;
    height: max-content;
    width: max-content;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(var(--top--sliderContainer) + 12% + 0%);
    left: 5%;
    backdrop-filter: none;
    /* border:10px solid yellow; */
  }
}

/**********************/
@media screen and ((max-height: 65px)) {
  .banner__content--text {
    gap: 0.5rem;
    height: auto;
    padding: 0;
    padding-top: 1.5rem;
    padding-right: 1rem;

    /* border: 10px solid red; */
  }

  .content--text--title {
    font-size: 1.5rem;
    line-height: 1rem;
  }
  /* .banner__layout__content { */
  /* flex-direction: row;
    justify-content: space-between; */
  /* padding-bottom: 1.5rem; */
  /* } */

  .banner__content--text p {
    font-size: 1rem;
    line-height: 1.3rem;
    /* border:10px solid red; */
  }

  .content--text--btn {
    margin: 0;
  }

  .watermark.left {
    left: -7rem;
    font-size: 5rem;
    letter-spacing: 1px;
  }

  /******slider btns********/

  .slider__container {
    height: 100%;
  }

  [class^='swiper-button'] {
    --btn--sep: 40%;
    transform: rotateZ(90deg);
    color: rgb(0, 0, 0, 0.5);
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: calc(100% - 5rem);
    border-radius: 0.5rem;
    z-index: 2500;
  }

  [class^='swiper-button']:hover {
    color: var(--primary--color);
    border: 2px solid var(--primary--color);
  }

  .swiper-button-prev {
    top: calc(50% - var(--btn--sep) / 2);
  }

  .swiper-button-next {
    top: calc(50% + var(--btn--sep) / 2 + 5%);
  }

  .socialMedia__container {
    /* top: calc(var(--top--sliderContainer) + 1%); */
    /* border: 10px solid red; */
  }
}
